
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Fixed Header Styles */
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    margin: 0px 0px 30px 0px;
  }
  
  /* Navigation Styles */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
  }

  .nav a ion-icon{
    
    margin-right: 5px;

  }
  
  .profile{
    border-radius: 10px;
    
  }


  .nav a:hover:nth-child(1){
    color: #d8d8d8;
  }
  
  /* Table Styles */
  .table {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 5px .5px rgb(187, 187, 187);
    
  }
  
  .table th,
  .table td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
    
  }

  .search {
    position:relative;
    width: 30%;
    margin: 0 10px;
    align-items: center;
    /* transform: translateX(500px); */
  }
  
  .search label {
    position: relative;
    width: 100%;
    
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
  }
  
  .search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
     
  }
  

  /* .table th,
  .table td:nth-child(1){
    text-align: center;
  }

  .table th,
  .table td:nth-child(3){
    text-align: center;
  }

  .table tr{
    transition: transform .50s ease, height .2s ease;
  }

  .table tr:hover{
    background-color: royalblue;
    color: #fff;
    transform: scale(104%);
  }
  
  .table th {
    background-color: #eee;
    color: #333;
  }
  
  .table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  

  .table td button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .table td button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .table td button:hover {
    color: #e8e8e8;
   }
   
   .table td button:hover::before {
    width: 100%;
   } */


   .container{
    max-width: 1400px;
   margin: 50px 0px 0px 70px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 80px;
   
}

.container .content{
background: #d8d8d8;
position: relative;
/* width: 325px; */
width: 400px;
height: 500px;
margin-left: 10px;
margin-top: 10px;
box-sizing: border-box;
padding: 2px;
box-shadow: 0px 0px 5px 0px;

}

.container .content .picture{
background: orange;
width: 100%;
position: relative;
height: 300px;
margin-bottom: 30px;

}

.container .content .picture img{
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: 100%;
}

.container .content button{
position: relative;
left: 0;
top: 0;
width: fit-content;
transform: translate(15px,20px);
}

.container .content .tagname{
margin-top: 20px;
margin-left: 15px;
}

.container .content .tagname label{
margin-top: 13px;
font-weight: 500;
font-size: 20px;
}



.container .content button {

padding: 15px 25px;
border: unset;
border-radius: 15px;
color: #212121;
z-index: 1;
background: #e8e8e8;
position: absolute;
font-weight: 1000;
font-size: 14px;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 250ms;
overflow: hidden;
}

.container .content button::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
border-radius: 15px;
background-color: #212121;
z-index: -1;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 250ms
}

.container .content button:hover {
color: #e8e8e8;
}

.container .content button:hover::before {
width: 100%;
}





   