/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;

  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #001e4a;
    
  }

  body .container{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  /* Fixed Header Styles */
  .header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    
  }
  
  /* Navigation Styles */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
  }

  .nav a ion-icon{
    
    margin-right: 5px;

  }
  
  .profile{
    border-radius: 10px;
    
  }


  .nav a:hover:nth-child(1){
    color: #d8d8d8;
  }
  
  /* Table Styles */
  .table {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 5px .5px rgb(187, 187, 187);
    
  }
  
  .table th,
  .table td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
    
  }

  .search {
    position:relative;
    width: 30%;
    margin: 0 10px;
    align-items: center;
    /* transform: translateX(500px); */
  }
  
  .search label {
    position: relative;
    width: 100%;
    
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
  }
  
  .search label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
     
  }
  

  /* .table th,
  .table td:nth-child(1){
    text-align: center;
  }

  .table th,
  .table td:nth-child(3){
    text-align: center;
  }

  .table tr{
    transition: transform .50s ease, height .2s ease;
  }

  .table tr:hover{
    background-color: royalblue;
    color: #fff;
    transform: scale(104%);
  }
  
  .table th {
    background-color: #eee;
    color: #333;
  }
  
  .table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  

  .table td button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .table td button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .table td button:hover {
    color: #e8e8e8;
   }
   
   .table td button:hover::before {
    width: 100%;
   } */


   .container{
    width: 100%;
    margin: 50px 0px 0px 0px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: first baseline;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 80px;
    box-sizing: border-box;
    
   
}

.container .content:hover{
  
  
  border: solid #07192f;
}

.container .content{
background: #d8d8d8;
position: relative;
/* width: 325px; */
width: 400px;
height: 500px;
margin-left: 10px;
margin-top: 10px;
box-sizing: border-box;
padding: 2px;
box-shadow: 0px 0px 5px 0px;

}

.container .content .picture{
/* background: orange; */
background: url(no-pictures.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
width: 100%;
position: relative;
height: 300px;
margin-bottom: 30px;

}

.container .content .picture img{
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 100%;
height: 100%;
}

.container .content button{
cursor: pointer;
position: relative;
left: 0;
top: 0;
width: fit-content;
transform: translate(15px,20px);
}

.container .content .tagname{
margin-top: 20px;
margin-left: 15px;
}

.container .content .tagname label{
margin-top: 13px;
font-weight: 500;
font-size: 20px;
}



.container .content button {

padding: 15px 25px;
border: unset;
border-radius: 15px;
color: #212121;
z-index: 1;
background: #e8e8e8;
position: absolute;
font-weight: 1000;
font-size: 14px;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 250ms;
overflow: hidden;
}

.container .content button::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
border-radius: 15px;
background-color: #212121;
z-index: -1;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 250ms
}

.container .content button:hover {
color: #e8e8e8;
}

.container .content button:hover::before {
width: 100%;
}

.main_header{
  margin: 80px 0px;
  width: 100%;
  height: 800px;
  
  
}

.tablediv{
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1100px;
  height: 500px;
  padding: 0px 30px;
  box-sizing: border-box;
  transform: translate(380px,300px);
  
}

.tablediv .advertise{
  background: transparent;
  width: 400px;
  height: 350px;
  margin: 0px 50px;
  color: white;
  backdrop-filter: blur(5px);
  border-radius: 40px;
}

.tablediv .advertise h2{
  transform: translateX(40px);
}

.tablediv .advertise img{
  width: 100%;
  height: 200px;
  position: absolute;
  top: 70px;
  border-radius: 20px;
  transform: rotateY(360deg);
  
}


.tablediv .advertise button{
  position: absolute;
  bottom: 20px;
  left: 80px;
  width: 100px;
  height: 40px;
  background: #ff2764;
  font-size: medium;
  font-weight: 700;
  color: #FFF;
  
}






.main_header .text{
  color: white;
  width: fit-content;
  font-size: 60px;
  overflow: hidden;
  transform: translate(150px, 70px);
  
}

.main_header img{
  position: absolute;
  left: 0;
  top: 200px;
  width: 400px;
  height: fit-content;
  transform: translate(0px, 50px);
  transform: rotateY(160deg);
}


.main_header .text{
  position: relative;
  color: #ccd3e6;
  font-size: 35px;
  font-weight: 600;
  position: absolute;
}
.main_header .text.first-text{
  color: #FFF;
}
.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #001e4a;
  border-left: 2px solid #4070F4;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}

body .lawofficeHeaderfind{
  padding-left: 80px;
  color: white;
  font-size: 50px;
}

body .lawofficeHeaderfind2{
  padding-left: 120px;
  color: white;
  font-size: 30px;
}






   